<!DOCTYPE html>
<html>
    <head>
        <title>Code</title>
        <meta name='viewpoint' content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../widgets/jqwidgets/styles/jqx.base.css" type="text/css" />
        <link rel="stylesheet" href="../widgets/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/all.css" type="text/css">
        <link rel="stylesheet" href="../styles/sweetalert.css" type="text/css">
        <link rel="stylesheet" href="../styles/code.css" type="text/css">
        <script type='text/javascript' src='../widgets/scripts/jquery-1.11.1.min.js'></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxvalidator.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxdata.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxbuttons.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxradiobutton.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxinput.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxscrollbar.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxswitchbutton.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxcheckbox.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxdropdownlist.js"></script> 
        <script type="text/javascript" src="../widgets/jqwidgets/jqxgrid.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxgrid.sort.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxgrid.pager.js"></script>
        <script type="text/javascript" src="../widgets/jqwidgets/jqxgrid.selection.js"></script> 
        <script type="text/javascript" src="../widgets/jqwidgets/jqxgrid.edit.js"></script>
        <script type='text/javascript' src='../scripts/sweetalert.js'></script>
        <script type='text/javascript' src='../scripts/common.js'></script>
        <script type='text/javascript' src='../scripts/code.js'></script>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 mt-3' style="border-bottom: 2px solid #555;">
                    <div class='lbtitle mb-2'>CODE</div>
                </div>
                <div class='col-md-12 mt-3'>
                    <input id='txtsearch_1' type='text' class='form-control' placeholder="Search"/>
                </div>
                <div class='col-md-12 mt-3'>
                    <div id='gridcode'></div>
                </div>
            </div>
        </div>
    </body>
</html>
